* {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url("/Clase7/images/download.jpeg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner a {
    background-color: red;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 12px;
}

.banner h1 {
    font-size: 100px;
    color: white;
    opacity: 0.7;
    position: absolute;
    left: 100px;
    top: 350px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 20%;
    margin-top: 25px;
    border: 1px solid gainsboro;
    padding: 10px;
    box-shadow: 3px 3px 3px gainsboro;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.card img {
    width: 100%;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.card h2{
    text-align: center;
}
